/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/poppins-v24-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/poppins-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM PROPERTIES */
:root {
  --clr-primary-400: hsl(0, 100%, 74%) ;

  --clr--secondary-200: hsl(154, 62%, 58%);
  --clr--secondary-400: hsl(154, 59%, 51%);
  --clr--secondary-600: hsl(154, 78%, 34%);

  --clr--accent: hsl(248, 32%, 49%);

  --clr-neutral-100: #fff;
  --clr-neutral-200: hsl(246, 25%, 77%);
  --clr-neutral-400: hsl(249, 10%, 26%) ;
}

/* RESET STYLES */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements 
with a list role, which suggests default 
styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  /* height: 100%; */
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* TYPOGRAPHY */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

main {
  min-height: 100vh;
  background-color: var(--clr-primary-400);
  padding-block: 5vh;
  background-image: url(/assets/images/bg-intro-mobile.png);
}

.wrapper {
  padding: 1rem;
  display: grid;
  row-gap: 3rem;
  max-width: 1040px;
  margin-inline: auto;
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1.3rem;
}

p {
  line-height: 1.7;
}

/* INTRO */
.intro {
  text-align: center;
  color: var(--clr-neutral-100);
}

@media (width >= 800px) {
  main {
    background-image: url(/assets/images/bg-intro-desktop.png);
  }

  h1 {
    font-size: 2.6rem;
    line-height: 1.1;
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

  .intro {
    text-align: left;
  }
}

/* REGISTRATION */
.badge {
  background-color: var(--clr--accent);
  color: var(--clr-neutral-100);
  padding: 1rem 5rem;
  text-align: center;
  border-radius: .5rem;
  margin-bottom: 2rem;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, .2);
}

.card {
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, .3);
}

.badge,
.card {
  max-width: 560px;
  margin-inline: auto;
}

.form {
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
}

.form-group img {
  display: none;
}

.form-group .error-message {
  color: var(--clr-primary-400);
  font-size: .8rem;
  font-style: italic;
  justify-self: end;
}

.form-group.error .input-group {
  border: 2px solid var(--clr-primary-400);
}

.form-group.error img {
  display: initial;
}

.form-group.error input {
  color: var(--clr-primary-400);
}

.form-group.success .input-group {
  border: 2px solid var(--clr--secondary-400);
}

.form input::placeholder {
  font-weight: 500;
}

.input-group {
  display: flex;
  align-items: center;
  gap: .3rem;
  border: 1px solid var(--clr-neutral-200);
  border-radius: 7px;
  padding: .8rem 1.5rem .8rem .8rem;
}

.input-group input {
  outline: 0;
  border: 0;
  font-weight: 600;
  color: var(--clr-neutral-400);
  width: 100%;
}

.input-group:focus-within {
  border: 1px solid var(--clr-neutral-400);
}

.btn {
  border: 0;
  padding-block: 1.2rem;
  border-radius: 7px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  background-color: var(--clr--secondary-400);
  box-shadow: 0 4px 0 0 var(--clr--secondary-600);
  cursor: pointer;
  transition: background-color .2s;
}

.btn:hover {
  background-color: var(--clr--secondary-200);
}

.btn:active {
  margin-top: 4px;
  box-shadow: none;
}

.card__footer p {
  margin-top: 1rem;
  text-align: center;
  font-size: .8rem;
  color: var(--clr-neutral-200);
  font-weight: 600;
}


/* UTILITY CLASSES */
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.color-primary {color: var(--clr-primary-400);}